.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.section-prize .item {
    border: solid 1px #f3f3f3;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
    height: 100%;
    max-width: 375px;
}
.mx-auto {
    margin-right: auto!important;
}
.section-prize .item .item-title {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 22px;
}
.section-prize .item .item-body {
    font-size: 14px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}